<ion-content>
  <div>
    <img id=avatar src='../../assets/avatar-male.png'>
    <h2 id=name>{{'name' | accountLoader}}</h2>
    <h4>{{'country' |accountLoader}}</h4>
  </div>

  <div class="text-start ion-padding">
    <ion-label>
      GAME
    </ion-label>
    <ion-card>
      <ion-card-content>
        <ion-button fill="clear" [routerLink]="['/q']" routerDirection="forward">
          <div>
            <ion-icon slot="icon-only" name="play"></ion-icon><br>
            Play
          </div>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="text-start ion-padding">
    <ion-label>
      PERFORMANCE
    </ion-label>
    <ion-card>
      <ion-card-content>
        <div class="flex-item">
          <div class="numberCircle">15</div>
          Games played
        </div>
        <div class="flex-item">
          <div class="numberCircle">80%</div>
          Wins
        </div>
        <div class="flex-item">
          <div class="numberCircle">7.4</div>
          Correct answers per round
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="text-start ion-padding">
    <ion-label>
      FRIENDS
    </ion-label>
    <ion-card>
      <ion-card-content class="friends-container">
        <div *ngFor="let friend of friends; let i = index" class="flex-item friends">
          <img *ngIf="i%2" src='../../assets/avatar-male.png'>
          <img *ngIf="!(i%2)" src='../../assets/avatar-female.png'>
          {{friend}}
        </div>
        <div *ngIf="friends.length === 0">You have not made any friends yet.</div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>