ion-content {
    text-align: center;
}

#challenge {
    background-color: turquoise;
    border-radius: 25px;
    border: 1px solid black;
    max-height: 50vh;
    overflow: scroll;
    h1 {
        font-size: 5vw;
    }
}

.absolute {
    position: absolute;
    bottom: 20px;
    width: 80%;
    left: 50%;
    ion-button {
        position: relative;
        left: -50%;
    }
}

.character {
    position: absolute;
    bottom: 0;
    max-height: 80%;
    display: flex;
    justify-content: flex-end;

    img {
        max-width: 60%;
    }
}

ion-input {
    text-align: start;
}

.wrong.item-radio-checked, .wrong.input-answer {
    --background: red;
}

.correct {
    --background: green;
}
