ion-slide {
    padding: 2em;
    align-items: start;
    overflow: scroll;

    div {
        overflow: hidden;
    }
}

.full-height{
    height: 100%;
}

.large-font {
    font-size: 1.2em;
    text-align: start;
    font-weight: 100;
}

img {
    border-radius: 100%;
    height: 30vh;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 1em;

    ion-button {
        z-index: 1;
    }
}

.word-wrap{
    white-space: initial;
}

.question {
    background-color: turquoise;
    border-radius: 25px;
    border: 1px solid black
}