ion-content {
    text-align: center;
}

ion-slide {
    padding: 2em;
    // align-items: start;
    overflow: scroll;
    flex-direction: column;
    text-align: center;
}

.full-height{
    height: 100%;
}

ion-button {
    width: 80%;
}

h1 {
    font-weight: bolder;
}